/* ********* */
/* ********* */
.dataTables_length {
	margin: 9px 0;
}

.table-striped tbody tr.selected td, .table-striped tbody tr.selected th {
	color: #428bca;
}

/* ********* */
/* ********* */
.dataTables_info {
	margin: 4px 0;
}

.preloader {
	visibility: hidden;
	margin: 7px 10px;
}

.removeLine, .addLine, .optionLine {
	margin: 3px 7px;
	margin-right: 10px;
	margin-left: 0px;
}

.removeLine.drag {
	background-image: none;
	background-color: #ebccd1;
	border: 1px solid #a94442;
}

.optionLine.drag {
	background-image: none;
	background-color: #bce8f1;
	border: 1px solid #317091;
}

/* ********* */
/* ********* */
.dataTables_paginate {
	float: right;
	display: inline-block;
  	padding-left: 0;
  	margin: 0;
  	border-radius: 4px;
}

.dataTables_paginate a {
	display: inline;
  	position: relative;
  	float: left;
  	padding: 6px 12px;
  	margin-left: -1px;
  	line-height: 1.428571429;
  	text-decoration: none;
  	background-color: #ffffff;
  	border: 1px solid #dddddd;
}

.dataTables_paginate a:first-child {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.dataTables_paginate a:last-child {
  	border-top-right-radius: 4px;
  	border-bottom-right-radius: 4px;
}

.dataTables_paginate span a:first-child {
  	margin-left: 0;
  	border-bottom-left-radius: 0;
  	border-top-left-radius: 0;
}

.dataTables_paginate span a:last-child {
  	border-top-right-radius: 0;
  	border-bottom-right-radius: 0;
}

.dataTables_paginate a:hover,
.dataTables_paginate a:focus {
  	background-color: #eeeeee;
  	cursor:pointer;
  	cursor:hand;
}

.dataTables_paginate a.ui-state-disabled {
	color: #999999;
  	cursor: not-allowed;
  	background-color: #ffffff;
  	border-color: #dddddd;
}

.dataTables_paginate span a.ui-state-disabled {
	z-index: 2;
	color: #fff;
	background-color: #428bca;
	border-color: #428bca;
	cursor: default;
}

/* ********* */
/* ********* */
[aria-sort=descending], [aria-sort=ascending] {	
	color: #428bca;
}